<a href="https://colab.research.google.com/github/aaminrc/Ejercicios-en-python/blob/main/Ejercicios_resueltos(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicios de Cadenas (https://aprendeconalf.es/docencia/python/ejercicios/cadenas/)

In [ ]:
#Ejercicio 1
nombre = input("Como te llamas? ")
numero = int(input("Digita un numero: "))
print((nombre + "\n") * numero)

Como te llamas? Addison Reyes
Digita un numero: 2
Addison Reyes
Addison Reyes

In [ ]:
#Ejercicio 2
nombre = input("Digita tu nombre completo: ")
print(nombre.lower())
print(nombre.upper())
print(nombre.title())

Digita tu nombre completo: aDDISon AmIn ReyeS cedano
addison amin reyes cedano
ADDISON AMIN REYES CEDANO
Addison Amin Reyes Cedano

In [ ]:
#Ejercicio 3
nombre = input("Como te llamas? ")
print("")
print("Tu nombre <" + nombre.upper() + "> tiene <" + str(len(nombre)) + "> letras.")

Como te llamas? Addison

Tu nombre <ADDISON> tiene <7> letras.

In [ ]:
#Ejercicio 4
print("Basado al formato (+34-913724710-56)...")
numero = input("Digita tu numero: ")
numero = numero[4:13:]
print(numero)

Basado al formato (+34-913724710-56)...
Digita tu numero: +34-359642849-56
359642849

In [ ]:
#Ejercicio 5
frase = input("Escribe una frase:\n  ")
print("\n" + frase[::-1])

Escribe una frase:
  aditrevni esarF

Frase invertida

In [1]:
#Ejercicio 6
frase = input("Escribe una frase: ")
vocal = input("Escribe una vocal: ")
print("\n" + frase.replace(vocal.lower(), vocal.upper()))

Escribe una frase: Tres tristes trigres tragaban trigo en un trigal
Escribe una vocal: e

TrEs tristEs trigrEs tragaban trigo En un trigal

In [3]:
#Ejercicio 7
correo = str(input("Digita tu correo electronico: "))
dominio = correo.find("@")
nuevo_correo = correo[:dominio:]
print("\nTu nuevo correo es " + nuevo_correo + "@ceu.es")

Digita tu correo electronico: JuanitoPerez.3743@hotmail.com

Tu nuevo correo es JuanitoPerez.3743@ceu.es

In [4]:
#Ejercicio 8
producto = str(input("Digita el precio del producto que compraras: "))
print("\nTu producto tiene el valor de €" + producto[:producto.find("."):] + " euros con 0" + producto[producto.find(".")::])

Digita el precio del producto que compraras: 349.56

Tu producto tiene el valor de €349 euros con 0.56

In [6]:
#Ejercicio 9
fecha = str(input("Introduce tu fecha de nacimiento, en formato (dd/mm/aaaa): "))
print("\nNaciste en el dia " + fecha[:2:] + " en el mes " + fecha[3:5:] + " en el año " + fecha[6::])

Introduce tu fecha de nacimiento, en formato (dd/mm/aaaa): 02/03/2002

Naciste en el dia 02 en el mes 03 en el año 2002

In [28]:
#Ejercicio 10
productos = input("Escribe separado por comas los productos de una cesta: ")
print(productos.replace(",", "\n"))

Escribe separado por comas los productos de una cesta: Jugo, Tomate, Malta, Guineo, Aguacate
Jugo
 Tomate
 Malta
 Guineo
 Aguacate

In [31]:
#Ejercicio 11
producto = str(input("Escribe el nombre del producto: "))
precio = float(input("Digita el precio del producto: $"))
unidades = int(input("Digita cuantas unidades hay: "))

print("\nEl producto " + producto + ", tiene un precio $" + str(round(precio, 2)) + " y hay " + str(unidades) + "unidades.\nTeniendo un coste total de $" + str(round(precio*unidades,2)))

Escribe el nombre del producto: Laptop
Digita el precio del producto: $16999.99
Digita cuantas unidades hay: 6

El producto Laptop, tiene un precio $16999.99 y hay 6unidades.
Teniendo un coste total de $101999.94